{
  "plugins": [
  	"stylelint-order",
    "stylelint-prettier"
  ],
  "extends": ["stylelint-prettier/recommended"],
  "rules": {
    "declaration-block-no-shorthand-property-overrides": [true, { "severity": "warning" } ],
    "order/properties-alphabetical-order": true
  }
}
